*{
  box-sizing: border-box;
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
body{
  margin:0;
  background-color: #2d2d2d;
}
header{
  background-color: #1a1a1a;
  width: 100%;
  color: #fff;
  padding: 22px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 5px 100px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.7);
  position: relative;
}

header .header-left-side{
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  color: #fff;
  gap: 20px;
}

header .header-left-side p{
  font-size: 2rem;
  margin: 0;
}

header .header-left-side img{
  margin-top: 5px;
  height: 70px;
}

header .header-menu{
  display: flex;
  gap:25px;
}

header .header-menu a{
  text-decoration: none;
  color: aliceblue;
  font-size: 1.4rem;
  position:relative;
}

header .header-menu a:after {
  transition: 0.3s;
  content: "";
  background-color: #f2f2f2;
  width: 100%;
  height: 3px;
  position: absolute;
  border-radius: 2px;
  opacity: 0;
  bottom: -6px;
  left: 0;
}

header .header-menu a:hover:after{
  opacity: 1;
}

.info-container{
  width: 100%;
  max-height: 600px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  color: white;
  gap: 70px;
  padding: 60px;
  transition: 0.5s;
  overflow: hidden;
}

.info-container div{
  overflow: hidden;
  width: 300px;
  height: 420px;
  border-radius: 20px;
  border: 1px solid #7b7b7b;
  padding: 25px;
  text-align: center;
  font-size: 1.5rem;
  transition: 0.3s;
}

.info-container div:hover{
  transform: scale(1.1);
}

.info-container div svg{
  width: 100%;
  padding: 20px;
  color: #fff;
}

.info-hidden{
  max-height: 0;
  padding: 0;
}

.chatbot-container{
  width: 100%;
  padding: 50px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  gap:50px
}

.chatbot-container .chatbot-input{
  display: flex;
  justify-content: center;
}

.chatbot-container .chatbot-input input{
  min-width: 310px;
  background-color: transparent;
  color: white;
  border: 1px solid #7b7b7b;
  border-radius: 20px;
  padding: 20px 0;
  font-size: 24px;
  transition: 0.5s;
  text-align: center;
  word-break: break-all;
}

.chatbot-output{
  display: none;
}

.chatbot-output .response{
  color: #fff;
  font-size: 2rem;
  border: 1px solid #7b7b7b;
  border-radius: 10px;
  padding: 50px;
}

.chatbot-output .loader {
  width: 55px;
  margin-top: 230px;
  aspect-ratio: 1;
  --g1:conic-gradient(from  90deg at 3px  3px ,#0000 90deg,#f2f2f2 0);
  --g2:conic-gradient(from -90deg at 22px 22px,#0000 90deg,#f2f2f2 0);
  background:var(--g1),var(--g1),var(--g1), var(--g2),var(--g2),var(--g2);
  background-size: 25px 25px;
  background-repeat: no-repeat;
  animation: l7 1.5s infinite;
  transform: scale(2);
}

@keyframes l7 {
  0%   {background-position:0    0   ,0 100%,100% 100% }
  25%  {background-position:100% 0   ,0 100%,100% 100% }
  50%  {background-position:100% 0   ,0 0   ,100% 100% }
  75%  {background-position:100% 0   ,0 0   ,0    100% }
  100% {background-position:100% 100%,0 0   ,0    100% }
}

.visible{
  display: block;
}